
/* Ensure the body uses full width and sets flexbox layout */
body {
    margin: 100px;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    left: 200px;
}

div#title {
    width: 100%;
}

h1#title {
    color: #4e4e4e;
    text-align: left;
    margin-bottom: 20px;
}

h3#subtitle {
    color: grey;
}

img.logo {
    width: 80px;
    height: 80px;
    float: left;
}

rect.lightGreyBar {
    fill: rgb(220, 220, 220);
    opacity: 0.5;
}

rect.darkGreyBar {
    fill: grey;
}

rect.lightPinkBar {
    fill: pink;
}

rect.darkPinkBar {
    fill: rgb(255, 164, 179)
}

.container {
    float: left;
    width: 100%;
}

div#histogram {
    width:50%;
}

div#barchart {
    width:50%;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}
.line{
    fill: rgb(220, 220, 220);
    stroke-width: 1;
}

.axis{
    color: rgb(123, 123, 123);
}

.symbol-bar{
    fill: rgb(255, 217, 223);
}